@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Kumar+One');
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("https://res.cloudinary.com/syedsamiuddin/image/upload/v1482659419/loader_zm5puh.gif") center no-repeat #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #6441a5;
}

.logo h2 {
    font-family: 'Kumar One', cursive;
    font-size: 45px;
    padding: 10px;
    color: #f8f800;
}

.nav {
    width: 130px;
    height: auto;
    color: white;
    position: absolute;
    left: -20px;
}

.nav {
    position: relative;
}

.upnav {
    text-align: center;
    margin-bottom: 25px;
}

.upnav li {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    margin-left: 10px;
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #E91E63;
    border-radius: 20%;
}

.upnav li:hover {
    cursor: pointer;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
}

.card {
    clear: both;
    width: 500px;
    margin: 0 auto 20px auto;
    overflow: hidden;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.48);
}

.head {
    position: relative;
}

.head img {
    width: 500px;
    height: 250px;
}

.launch {
    z-index: 20;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.launchicon {
    color: white;
    padding: 5px;
    border-radius: 20%;
    background-color: rgba(10, 10, 10, 0.62);
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-28 {
    font-size: 28px;
}

.livecon {
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    bottom: 10px;
    right: 5px;
    padding: 5px;
    border-radius: 20%;
    background-color: rgba(10, 10, 10, 0.62);
}

.live {
    font-size: 20px;
    color: white;
}

.blink {
    -webkit-animation: blinker 1.5s ease-in infinite alternate;
    animation: blinker 1.5s ease-in infinite alternate;
    color: red;
    font-size: 22px;
}

.blinkoff {
    -webkit-animation: blinker 1.5s ease-in infinite alternate;
    animation: blinker 1.5s ease-in infinite alternate;
    color: white;
    font-size: 22px;
}

@-webkit-keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.meat {
    overflow: hidden;
    position: relative;
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 3px;
    border-top: 0px;
    margin-top: -5px;
    min-height: 120px
}

.title p {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    padding: 5px;
}

.mid {
    overflow: hidden;
    min-height: 40px;
    padding: 5px;
}

.game {
    float: left;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
}

.view {
    float: right;
    font-family: 'Roboto Condensed', sans-serif;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    margin-right: 15px;
}

.vp {
    padding-left: 5px;
    font-size: 25px;
}

.profile {
    clear: both;
    margin-top: 10px;
}

.poster {
    float: left;
    padding-left: 5px;
    padding-bottom: 5px;
}

.poster img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.disname {
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 90px;
}

.disname p {
    padding: 5px 0px 0px 0px;
    font-size: 15px;
}

.disname p a:link,
a:visited {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.disname p a:hover,
a:active {
    text-decoration: none;
    color: #a700ff;
    -webkit-transition: 0.1s all ease-out;
    transition: 0.1s all ease-out;
}

.notfound {
    text-align: center;
    font-size: 25px;
    padding-top: 35px;
    font-family: 'Roboto Condensed', sans-serif;
}

@media only screen and (max-width:520px) {
    .logo h2 {
        font-size: 40px;
        padding: 10px 10px 5px 10px;
    }
    .card {
        clear: both;
        width: 97%;
        overflow: hidden;
    }
    .upnav {
        text-align: center;
        margin-bottom: 20px;
    }
    .head img {
        width: 100%;
    }
    .title p {
        font-size: 18px;
    }
    .game {
        font-size: 17px;
    }
    .vp {
        font-size: 20px;
    }
    .material-icons.md-28 {
        font-size: 23px;
    }
    .profile {
        clear: both;
        margin-top: 0px;
    }
    .poster {
        float: left;
        padding-left: 5px;
    }
    .livecon {
        font-family: 'Roboto Condensed', sans-serif;
        position: absolute;
        bottom: 10px;
        right: 5px;
        padding: 5px;
        border-radius: 20%;
        background-color: rgba(10, 10, 10, 0.62);
    }
    .notfound {
        font-size: 23px;
    }
}